{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div id="main-container">
        <h1>CoinCast</h1>
        <div id="crypto-select">
            <form method="post" action="/">
                <select name="crypto-select-box"
                        id="crypto-select-box"
                        required
                        onchange="this.form.submit()">
                    <option value="" disabled selected hidden>Select desired crypto</option>
                    <option value="Bitcoin">BTC</option>
                    <option value="Ethereum">ETH</option>
                    <option value="Tether">USDT</option>
                    <option value="Binance Coin">BNB</option>
                    <option value="Solana">SOL</option>
                    <option value="Ripple">XRP</option>
                    <option value="Cardano">ADA</option>
                    <option value="Dogecoin">DOGE</option>
                    <option value="Polkadot">DOT</option>
                    <option value="USDC">USDC</option>
                </select>
            </form>
        </div>
    </div>
{% endblock %}
