{% extends "base.html" %}
{% block head %}{% endblock %}
{% block body %}
    <div id="main-container">
        <h1>CoinCast</h1>
        <div id="crypto-select">
            <form method="post" action="/">
                <select name="crypto-select-box"
                        id="crypto-select-box"
                        required
                        onchange="this.form.submit()">
                    <option value="" disabled selected hidden>Select desired crypto</option>
                    <option value="bitcoin">BTC</option>
                    <option value="ethereum">ETH</option>
                    <option value="tether">USDT</option>
                    <option value="binancecoin">BNB</option>
                    <option value="solana">SOL</option>
                    <option value="ripple">XRP</option>
                    <option value="cardano">ADA</option>
                    <option value="dogecoin">DOGE</option>
                    <option value="polkadot">DOT</option>
                </select>
            </form>
            {% if current_price is not none %}<p>Current price: {{ current_price }}</p>{% endif %}
        </div>
    </div>
{% endblock %}
